/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,900;1,200;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@font-face {
    font-family: 'Product Sans';
    font-weight: 500;
    src:  local('Product Sans') url(../public/fonts/Product\ Sans\ Regular.ttf) format('truetype');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
#toggle-switch::after{
    content:'';
    @apply  py-1 h-4 w-4 rounded-full  bg-gray-700 absolute left-0 top-0 transform scale-125 duration-200 ;
}
#toggle-switch:checked::after{
    content: '';
    @apply h-4 w-4 rounded-full bg-blue-500 absolute left-5 right-0 top-0 transform scale-125 duration-300 ;
}
/* .horizontalScroll{
    top: 60px;
    height: 60px;;
  border: 1px solid gray ;  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
}
.btn-scroll{
    background-color: #fff;
    color:#999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index:1;
} */
/* .badge{
    @apply absolute top-0 ml-2 p-2 mt-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full hover:opacity-50;
  } */
